@import "Data";
@import "Link";

.hide {
    transform: translateY(-100%);

    &:before, &:after {
        box-shadow: 0 0 0 rgba(149, 191, 255, 0.55) !important;
    }
}

.setBackground {
    .logo {
        color: $white !important;
    }

    nav {
        a {
            color: $white !important;
            position: relative;

            &:before {
                background: $white !important;
            }
        }
    }

    &:before, &:after {
        background: $blueOpacity;
    }

    .noAuthorization {
        a {
            color: $white !important;
            position: relative;

            &:first-child {
                &:before {
                    background: $white !important;
                }
            }

            &:last-child {
                border: 1px solid $white !important;

                &:hover {
                    background: $white !important;
                    color: $gray !important;
                }
            }
        }
    }

    .authorization {
        img {
            filter: brightness(200%);
        }

        p {
            color: $white !important;

            &:before {
                background: $white !important;
            }
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    max-width: 1600px;
    transition: .5s;
    z-index: 999;

    &:before {
        position: absolute;
        content: '';
        width: 100vw;
        height: 100%;
        right: 50%;
        z-index: -1;
        transition: .5s;
    }

    &:after {
        position: absolute;
        content: '';
        width: 100vw;
        height: 100%;
        z-index: -1;
        left: 50%;
        transition: .5s;
    }

    a {
        text-decoration: none;
    }

    .logo {
        text-decoration: none;
        font-family: 'Vampiro One', cursive;
        font-weight: 400;
        font-size: 54px;
        line-height: 80px;
        color: $blue;
    }

    nav {
        a {
            &:first-child {
                margin-right: 67px;
            }
        }
    }

    .noAuthorization, .authorization {
        font-style: normal;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        line-height: 32px;
    }

    .noAuthorization {
        a {
            &:last-child {
                border: 1px solid $gray;
                padding: 8px 15px;
                border-radius: 10px;
                margin-left: 10px;
                transition: .2s;
                font-weight: 500;
                color: $gray;

                &:hover {
                    color: $white;
                    border: 1px solid $blue;
                    background: $blue;
                }
            }
        }

    }

    .authorization {
        display: flex;
        align-items: center;

        &:hover {
            p:before {
                visibility: visible;
                transform: scaleX(1);
            }
        }

        img {
            margin-right: 15px;
            width: 30px;
            height: 30px;
        }

        p {
            height: 33px;
        }
    }
}